.LottoCard {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 325px;
  border: 5px solid white;
  height: 55vh;
}

.lotto-title {
  color: rgb(8, 106, 163);
  font-family: fantasy;
  text-transform: uppercase;
  border: 5px solid rgb(8, 106, 163);
  padding: .5rem 1.5rem;
  margin-top: 2rem;
}

.ball-container {
  display: flex;
  justify-content: space-between;
}

.lotto-spin {
  outline: none;
  border: 3px solid rgb(8, 106, 163);
  background-color: rgb(195, 255, 0);
  border-radius: 4px;
  color: rgb(8, 106, 163);
  font-family: fantasy;
  padding: .75rem;
  margin: 1rem;

  transition: all .2s;
}

.lotto-spin:hover {
  background-color: rgb(21, 255, 0);
  transform: scaleX(1.1);
}

.lotto-spin:active {
  background-color: rgb(181, 255, 7);
  transform: scaleX(1.1) translateY(2px);
}